<p class='credits'>
  <small>
    This is an
    <a href='https://github.com/rfunduk/mrpassword' target='_blank'>open-source</a>
    weekend project by
    <a href='http://ryanfunduk.com' target='_blank'>Ryan Funduk</a>.
  </small>
  <small>
    Built with
    <a href='http://coffeescript.org' target='_blank'>CoffeeScript</a>,
    <a href='http://sass-lang.com' target='_blank'>Sass</a>,
    <a href='http://handlebarsjs.com' target='_blank'>Handlebars</a>,
    <a href='http://backbonejs.org' target='_blank'>Backbone</a>,
    <a href='http://dropbox.com/developers/datastore' target='_blank'>Dropbox Datastore</a>,
    <a href='http://getbootstrap.com' target='_blank'>Bootstrap</a>+<a href='http://glyphicons.com/' target='_blank'>Glyphicons</a>,
    and <a href='http://crypto.stanford.edu/sjcl/' target='_blank'>SJCL</a>.
  </small>
</p>
