.list-group {
  margin-bottom: 0;

  .list-group-item {
    .list-group-item-heading {
      border: 1px dashed transparent;
      padding: 6px;
      line-height: 34px;
      margin-bottom: 0;
      @media (max-width: $screen-xs-max) {
        text-align: center;
        line-height: 22px;
        small {
          display: block;
        }
      }
    }

    .action-buttons {
      text-align: right;

      &.bare-actions {
        padding: 6px;
      }

      .pull-left {
        margin-right: 4px;
      }

      @media (max-width: $screen-xs-max) {
        text-align: center;
        .pull-left {
          float: none !important;
        }
      }
    }
  }
}
