.bootstrap-tagsinput {
  min-height: 40px;
  margin-bottom: 4px;
  margin-top: 4px;
  width: 100%;
  cursor: text;
  font-size: 18px;
  line-height: 30px;
  border-color: #DDD;
  @include box-shadow( none !important );

  input {
    font-size: 16px;
    margin-left: 2px;
    // display: none;
  }
  &.editing {
    input { display: inline; }
  }

  .tag [data-role="remove"] {
    &:after {
      content: "\00D7";
    }
    &:hover, &:active {
      @include box-shadow( none !important );
    }
  }
}

#passwords .list-group-item {
  position: relative;
  .tags {
    position: absolute;
    bottom: 0;
    left: 20px;
    div {
      float: left;
      width: 30px;
      height: 5px;
      margin-right: 3px;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
    }
  }
}

#tags-filterer {
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  ul {
    @include clearfix;
    list-style: none outside;
    margin: 0;
    padding: 0;
    text-align: center;
    &:empty { margin-bottom: 0; }

    li {
      display: inline-block;
      margin: 0 4px;
      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
      .label {
        font-size: 18px;
        background-color: #F6F6F6;
        cursor: pointer;
      }
    }
  }

  input {
    font-size: 18px;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #EEE;
  }

  @media (max-width: $screen-xs-max) {
    display: block;
    ul {
      margin-bottom: 20px;
    }
    input {
      display: block;
      margin: 0 auto;
    }
  }
}

ul.tags-editor {
  list-style: none outside;
  padding: 0;
  margin: 0;
  li {
    line-height: 30px;

    .glyphicon {
      color: #DDD;
    }
    &.active .glyphicon {
      color: #333;
    }
    .label {
      background-color: #F6F6F6;
      cursor: pointer;
      font-size: 14px;
      &.show-active { display: none; }
    }
    &.active {
      .label.show-active { display: inline; }
      .label.hide-active { display: none; }
    }
  }
}
