{{> header}}

<section>
  <div class='row'>
    <div class='col-xs-12'>
      <div id='tags-filterer'>
        <div class='search-wrapper'>
          <button class='btn btn-link action-clear-search'>
            <span class='glyphicon glyphicon-remove'></span>
          </button>
          <input type='text' id='search' placeholder='search...' autofocus autocomplete='off' />
        </div>
      </div>
      <div id='create-password'></div>
      <div id='passwords'></div>
    </div>
  </div>
</section>

{{> footer}}
