{{> header}}

<section>
  <div class='row'>
    <div class='col-xs-12'>
      <div id='tags-filterer'></div>
      <div id='create-password'></div>
      <div id='passwords'></div>
    </div>
  </div>
</section>

{{> footer}}
