<div class='list-group'>
  <div class='list-group-item empty-placeholder'>
    <h4 class='list-group-item-heading'>
      No Passwords {{#if filtered}}Found{{else}}Yet{{/if}}!
    </h4>
    <div class='list-group-item-text'>
      <p class='text-muted'>
        {{#if filtered}}
          Oh well...
        {{else}}
          Get on that.
        {{/if}}
      </p>
    </div>
  </div>
</div>
