<div class='stepped on-step-index-0'>
  <div class='inner'>
    <div class='step step1'>
      <div class='input-group'>
        <input type='password' class='form-control new-master-password password-field' placeholder='New Master Password' />
        <span class='input-group-btn'>
          <button class='btn btn-default next-step' type='button'>
            Next
            <span class='glyphicon glyphicon-chevron-right'></span>
          </button>
        </span>
      </div>
    </div>

    <div class='step step2'>
      <div class='form-group has-feedback'>
        <input type='password' class='form-control confirm-master-password password-field' placeholder='Confirm Master Password' />
        <span class='glyphicon form-control-feedback'></span>
      </div>
    </div>

    <div class='step step3'>
      <h3 class='master-password-set'>Master Password Set!</h3>
    </div>
  </div>
</div>
